body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74ebd5, #9face6);
}

.register-container, .login-container {
    align-items: center;
    background: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 30px;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #74ebd5;
    outline: none;
}

.register-button {
    display: inline-block;
    width: 100%;
    padding: 0.75rem;
    background: #74ebd5;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.login-button {
    display: inline-block;
    width: 100%;
    padding: 0.75rem;
    background: #74ebd5;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.register-button:hover {
    background: #62d4bf;
}
.comment-wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.commentator {
    font-weight: bold;
    color: #234465;
    margin-bottom: 8px;
    font-size: 1.1em;
}

.comment {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
}

.error {
    color: red;
    font-size: 0.9em; /* Slightly smaller text size for subtle emphasis */
    font-weight: bold;
    margin-top: 5px; /* Add spacing from the element above */
    text-align: left; /* Aligns the text to the left (default) */
}

.unauthorized {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.unauthorized p {
    margin: 10px 0;
    font-size: 1em;
}

.unauthorized p[routerLink] {
    font-weight: bold;
    color: #0056b3;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s;
}

.unauthorized p[routerLink]:hover {
    color: #003366;
}

