<main>
  <div class="welcome-section">
    <h2>Welcome to the Forum!</h2>
    <p>
      We're glad to have you here. Join the discussion and share your thoughts
      with like-minded individuals.
    </p>
  </div>

  <div class="cta-buttons">
    @if(isLoggedIn){
    <a routerLink="/topics" class="btn btn-primary">Topics</a>
    <a routerLink="/add-topic" class="btn btn-primary">Add Topic</a>

    } @else {
    <a routerLink="/login" class="btn btn-primary">Login</a>
    <a routerLink="/register" class="btn btn-secondary">Sign Up</a>
    }
  </div>
</main>
