body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.logout-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
    padding: 0;
  }

.header {
  background-color: #177fbb;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

.header .container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

.logo h1 {
  font-size: 1.8rem;
  margin: 0;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin: 0 10px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: #055481;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
  text-align: center;
}

main h2 {
  font-size: 2rem;
  color: #333;
  margin: 20px 0;
}
.logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
}

.logo-wrap h1 {
  font-size: 2.5rem;
  color: white;
  font-family:'Bookman' !important;
  margin: 0;
}

.logo-wrap > img {
  height: 20vh;
  margin-right: 1.5vw;
  margin-left: -2vw;
}


@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    text-align: center;
  }

  .navigation ul {
    flex-direction: column;
    padding: 10px 0;
  }

  .navigation li {
    margin: 5px 0;
  }
}
