<header class="header">
  <div class="container">
    <div class="logo-wrap">
      <img src="logo.png" />
      <h1>ChatterBox</h1>
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/topics">Topics</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        @if(isLoggedIn){
        <li><a href="#contact">Profile</a></li>

        <li><a (click)="logout()" class="logout-button">Logout</a></li>
        } @else {
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
        }
        <!-- <ng-container *ngIf="user$ | async as user; else loggedOut">
          <li>
            <button (click)="logout()" class="logout-button">Logout</button>
          </li>
        </ng-container>
        <ng-template #loggedOut>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ng-template> -->
      </ul>
    </nav>
  </div>
</header>
